.gameboard {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
  }
  .card {
    background-image:
      url("../images/access.png");
      background-size: cover;
    border: 1px solid #008CBA; 
    border-radius: 10px; 
    box-shadow: 0px 7px 10px #008CBA;
    height: 180px;
    width: 200px;
  }

  .found {
    background-color: #008CBA;
  }

  .score {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: center;
  }

  .scoreboard {
    font-family: "Lato", sans-serif;
    font-weight: 800;
    text-align: center;
  }
   