.gameboard {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
  }
  .card {
    background-image:
      url("../images/access.png");
      background-size: cover;
    border: 1px solid darkblue; 
    border-radius: 10px; 
    height: 180px;
    width: 200px;
  }

  .found {
    background-color: darkblue;
  }